:root {
  --size: 1.2;
}

.command, .directory {
    cursor: pointer;
}

#terminal-container {
  display: flex;
  align-items: center;
  width: 99vw;
  height: 99vh;
  overflow-y: hidden;
}

#terminal {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.mobile-layout {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop-layout {
    display: none;
  }

  .mobile-layout {
    display: block;
  }
}